/* Flexible Slide-to-top Accordion Style*/
.wrapper{
	width:100%;
	max-width:1000px;
	margin:30px auto;
	/*border:#000000 solid 1px;*/
	margin:0px;
}
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
	height:auto;
}
.st-accordion ul li{
    height: 100px;
    border-bottom: 1px solid #c7deef;
    border-top:1px solid #fff;
    overflow: hidden;
}

#tabs ul li{
    height: 30px;
   /* border-bottom: 1px solid #c7deef;*/
    border-top:1px solid #fff;
    overflow: hidden;
}

#tabs_2 ul li{
    height: 30px;
   /* border-bottom: 1px solid #c7deef;*/
    border-top:1px solid #fff;
    overflow: hidden;
}

.tabs ul li{
    height: 30px;
   /* border-bottom: 1px solid #c7deef;*/
    border-top:1px solid #fff;
    overflow: hidden;
}

.tabs_2 ul li{
    height: 30px;
   /* border-bottom: 1px solid #c7deef;*/
    border-top:1px solid #fff;
    overflow: hidden;
}


.st-accordion ul li:first-child{
    border-top:none;
}
.listasOpcoes{
    font-family: 'Futura',Georgia, serif;
    font-size: 25px; /*tamanho das opçoes*/
    display: block;
	position: relative;
    line-height: 100px;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
	
}


.st-accordion ul li > a span{
	background: transparent url(../images/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
	
}
.st-accordion ul li > a:hover{
    color: #1693eb;
	
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: #1693eb;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
}
.st-content p{
    font-size:  16px;
    font-family:  Georgia, serif;
    font-style: italic;
    line-height:  28px;
    padding: 0px 4px 15px 4px; 
}
.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}

#tabs-3{
	height:auto;
}
