@charset "utf-8";
/* CSS Document */


#submenu ul {
  list-style-type: none;
  position: relative;
  display: float;
  height: 25px;
  font-size: 12px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width:auto;
  bottom: 7px;
  text-shadow: 0px -1px 0px #374683;
  text-shadow: 0px 1px 0px #e5e5ee;

}
#submenu img { 

vertical-align: baseline; 
}
#submenu li {

  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#submenu li a {

  float: left;
  color: #666060;
  text-decoration: none;
  height: 16px;
  padding: 9px 8px 0;
  font-weight: normal;
  line-height:8px;
}
#submenu li a:hover,
#submenu .active {
		  text-shadow: 0px -1px 0px #e5e5ee;
  text-shadow: 0px 1px 0px #374683;
  color: #fff;
  text-decoration: none;
}
#submenu .active a {
	  text-shadow: 0px -1px 0px #e5e5ee;
  text-shadow: 0px 1px 0px #374683;
  color: #fff;
  font-weight: normal;
}
#submenu ul {
   -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
        -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
        box-shadow:inset 0px 1px 0px 0px #97c4fe;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #b2b2b2));
        background:-moz-linear-gradient(top, #e5e5e5 5%, #b2b2b2 100%);
        background:-webkit-linear-gradient(top, #e5e5e5 5%, #b2b2b2 100%);
        background:-o-linear-gradient(top, #e5e5e5 5%, #b2b2b2 100%);
        background:-ms-linear-gradient(top, #e5e5e5 5%, #b2b2b2 100%);
        background:linear-gradient(to bottom, #e5e5e5 5%, #b2b2b2 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#b2b2b2',GradientType=0);
}
#submenu li a:hover,
#submenu li.active {
  background-color: #999999;
}
